<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>697197658684-69726g11jnau0lb990pl0siak3ofltmo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.697197658684-69726g11jnau0lb990pl0siak3ofltmo</string>
	<key>API_KEY</key>
	<string>AIzaSyAUuKMViyYj3wGzvvaoWA7-dWw3op479fM</string>
	<key>GCM_SENDER_ID</key>
	<string>697197658684</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cinerv</string>
	<key>PROJECT_ID</key>
	<string>cinerv-9a811</string>
	<key>STORAGE_BUCKET</key>
	<string>cinerv-9a811.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:697197658684:ios:245be9b4cfeb48ab90b939</string>
</dict>
</plist>